<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<title>Secured</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<h1>OAuth2.0 Service</h1>
		<div class="container">
			<div class="row">
				<div class="col">
					<form>
					  <div class="form-group">
					    <label for="exampleInputEmail1">클라이언트 ID</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="클라이언트 ID">
					  </div>
					  <div class="form-group">
					    <label for="exampleInputEmail1">리소스 ID</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="리소스 ID">
					  </div>
					  <div class="form-group">
					    <label for="exampleInputEmail1">Secret</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Secret">
					  </div>
					  <div class="form-group">
					    <label for="exampleInputEmail1">Scope</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="read_profile, read_posts">
					  </div>
					  <div class="form-group">
					    <label for="exampleInputEmail1">Authorized grant type</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="read_profile, read_posts">
					  </div>
					  <div class="form-group">
					    <label for="exampleInputEmail1">Web Server Redirect URI</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Web Server Redirect URI">
					  </div>
					  <button type="submit" class="btn btn-primary">저장</button>
					</form>
				</div>
				<div class="col">
					dfs
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p>
						<a href="/" th:href="@{/}">Back to home page</a>
					</p>
					<p>
						<a href="/" th:href="@{/logout}">Logout</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>